* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.jumbotron {
  background-image: url(../images/Joblogo.png);
  background-position: center;
  height: 200px;
  width: 500px;
}
.Divcontainer {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  height: 600px;
}
footer {
  background: rgba(54, 54, 54, 0.8);
  width: 100%;
  position: static;
  padding: 25px 25px;
  bottom: 0;
}
.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
  color: #fefefe;
}
.translucent-form-overlay h3 {
  text-align: center;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

header {
  padding: 10px 15px;
  background-color: rgba(54, 54, 54, 0.8);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
  display: inline;
}

.split {
  height: 100%;
  width: 50%;
  position: static;
  z-index: 1;
  top: 100px;
  overflow-x: scroll;
  text-align: left;
}

.left {
  left: 0;
  background-color: white;
}
.right {
  right: 0;
  background-color: white;
}
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */